@font-face {
  font-family: "my-font";
  src: url('my-font.woff2?t=1740234588826') format('woff2'),
  url('my-font.woff?t=1740234588826') format('woff'),
  url('my-font.ttf?t=1740234588826') format('truetype');
}

.my-font {
  font-family: 'my-font' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


